In [2]:
import pandas as pd
import requests

In [27]:
census_mode_share_url = "https://api.census.gov/data/2023/acs/acs5?get=group(B08006)&ucgid=pseudo(0400000US36$1400000)"

api_response = requests.get(census_mode_share_url)

b08006_col_names = list(
    pd.read_html(
        'https://api.census.gov/data/2023/acs/acs1/groups/B08006.html'
    )[0]['Label']
)

if api_response.status_code == 200:
    # Parse the JSON response
    data = api_response.json()

    # The rest of the rows contain the data
    rows = data[1:]
    
    # Create a DataFrame
    df = pd.DataFrame(rows, columns=b08006_col_names)
else:
    raise Exception(f"Failed to fetch data: {api_response.status_code}")

df.head()

,Estimate!!Total:,Annotation of Estimate!!Total:,Margin of Error!!Total:,Annotation of Margin of Error!!Total:,"Estimate!!Total:!!Car, truck, or van:","Annotation of Estimate!!Total:!!Car, truck, or van:","Margin of Error!!Total:!!Car, truck, or van:","Annotation of Margin of Error!!Total:!!Car, truck, or van:","Estimate!!Total:!!Car, truck, or van:!!Drove alone","Annotation of Estimate!!Total:!!Car, truck, or van:!!Drove alone",...,"Annotation of Estimate!!Total:!!Female:!!Taxicab, motorcycle, or other means","Margin of Error!!Total:!!Female:!!Taxicab, motorcycle, or other means","Annotation of Margin of Error!!Total:!!Female:!!Taxicab, motorcycle, or other means",Estimate!!Total:!!Female:!!Worked from home,Annotation of Estimate!!Total:!!Female:!!Worked from home,Margin of Error!!Total:!!Female:!!Worked from home,Annotation of Margin of Error!!Total:!!Female:!!Worked from home,Geography,Geographic Area Name,206 variables
0,632,None,156,None,330,None,110,None,243,None,...,None,28,None,0,None,13,None,1400000US36001000100,Census Tract 1; Albany County; New York,1400000US36001000100
1,1107,None,385,None,502,None,291,None,318,None,...,None,13,None,63,None,52,None,1400000US36001000201,Census Tract 2.01; Albany County; New York,1400000US36001000201
2,1366,None,525,None,1003,None,502,None,667,None,...,None,13,None,0,None,13,None,1400000US36001000202,Census Tract 2.02; Albany County; New York,1400000US36001000202
3,1053,None,350,None,490,None,249,None,433,None,...,None,13,None,0,None,13,None,1400000US36001000301,Census Tract 3.01; Albany County; New York,1400000US36001000301
4,1875,None,401,None,1315,None,389,None,981,None,...,None,13,None,172,None,129,None,1400000US36001000302,Census Tract 3.02; Albany County; New York,1400000US36001000302